/*-------*/

:root {
    --black: black/*#232323*/;
    --dark-grey: #283039;
    --white: #fbf8f3; 
    --corail: #fcba8e;
    --red: #ff6b51;
    --blue: #30c8e3;

    --text-font-size: min(5vw, 26px);
}

::selection {
    background: var(--corail); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: gaegu;
    src: url(fonts/Gaegu/Gaegu-Regular.ttf);
}

html {
    scroll-snap-type: y mandatory;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: gaegu;
}

main {
    width: 100%;
    height: 100%;
}

section {
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: auto;
    padding-bottom: auto;
    scroll-snap-align: start;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
    font-size: var(--text-font-size);
}

.accent {
    font-size: calc(0.8 * var(--text-font-size));
}

@media (min-width: 500px) {
    section {
        padding-left: 22vw;
        padding-right: 22vw;
        padding-top: auto;
        padding-bottom: auto;
    }
  }

.section-item {
    margin-bottom: 20px;
}

.white {
    background-color: var(--white);
    color: var(--black);
}

.black {
    background-color: var(--black);
    color: var(--white);
}

.boris {
    text-align: center;
}

.hidden-boris, .hidden-message {
    visibility: hidden;
}


/* Hero section */

#profil-picture {
    width: min(12vh, 120px);
    margin-bottom: 40px;
}



/* Châteauroux */

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#background-map {
    background-image: url(images/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: min(50vw, 300px); 
    width: min(50vw, 300px); 
    cursor: pointer;
}

#target-map {
    display: none;
    height: 100%; 
    width: 100%; 
    cursor: pointer;
}



/* Gentilé */

label {
    display: block;
}

input[type='radio'] {
    accent-color: #232323;
}

#gentilic-message {
    height: min(100px, calc(2 * clamp(5vw, 36px, 7vw)));
}



/* Rêve */

.sentence {
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

.word {
    padding: 5px 15px;
    background: var(--dark-grey);
    color: var(--white);
    border-radius: 5px;
    cursor: grab;
    user-select: none;
}


/* Musique */

.music-container {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.music-image-container {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    width: min(20vw, 100px);
    height: min(20vw, 100px);
    border-radius: 50%;

}

.music-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.selected {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
    border: 5px solid var(--blue);
}


/* Mot de passe */

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

#padlock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-padlock {
    background-image: url(images/padlock_open.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: min(10vw, 50px); 
    width: min(10vw, 50px); 
}

#padlock-closed {
    height: 100%; 
    width: 100%; 
}

#password-input, #check-password {
    text-align: center;
    font-family: gaegu;
    font-size: var(--text-font-size);
    width: min(200px, 40vw);
    border-radius: 5px;
}

#check-password {
    border: none;
    color: white;
    background-color: var(--dark-grey);
}

.hint {
    height: var(--text-font-size);
}

#hints-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hint-button {
    font-family: gaegu;
    font-size: min(5vw, 28px);
    border: none;
    cursor: pointer;
    background: none;
    color: var(--white);
}

#hint-2, #hint-3 {
    visibility: hidden;
}