:root {
    --black: black/*#232323*/;
    --white: #fbf8f3; 
    --corail: #fcba8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

@font-face {
    font-family: gaegu;
    src: url(fonts/Gaegu/Gaegu-Regular.ttf);
}

::selection {
    background: var(--corail); 
}

body {
    height: 100vh;
    width: 100vw;
    font-family: gaegu;
}

main {
    width: 100%;
    height: 100%;
}

section {
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: auto;
    padding-bottom: auto;
    scroll-snap-align: start;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
    font-size: min(5vw, 28px);
}

@media (min-width: 500px) {
    section {
        padding-left: 22vw;
        padding-right: 22vw;
        padding-top: auto;
        padding-bottom: auto;
    }
  }


.section-item {
    margin-bottom: 20px;
}

.white {
    background-color: var(--white);
    color: var(--black);
}

.black {
    background-color: var(--black);
    color: var(--white);
}

.boris {
    text-align: center;
}





/* Hero section */

#hero-section h1 {
    font-weight: 500; 
    text-align: center; 
    font-size: clamp(5vw, 36px, 7vw);
}

#profil-picture {
    width: min(12vh, 120px);
    margin-bottom: 40px;
}




/* Chateauroux */

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#background-map {
    background-image: url(images/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: min(50vw, 320px); 
    width: min(50vw, 320px); 
    cursor: pointer;
}

#target-image {
    display: none;
    height: 100%; 
    width: 100%; 
    cursor: pointer;
}

#chateauroux-hidden-boris, #success-message {
    visibility: hidden;
}


/*Gentile*/

#gentile-hidden-boris, #answer {
    visibility: hidden;
}

label {
    display: block;
}

input[type='radio'] {
    accent-color: #232323;
}

#answer {
    height: clamp(10vw, 72px, 14vw);
}

/**/

.sentence {
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
}
.word {
    padding: 5px 15px;
    background: #283039;
    color: var(--white);
    border-radius: 5px;
    cursor: grab;
    user-select: none;
}
#message {
    font-size: 18px;
    color: var(--white);
    display: none;
}

#container {
    position: relative;
}



/*---------------------------------------------------------------------------------*/

